* {
  margin: 0;
  /* display: flex; */
  background-color: #E9D8A6;
}

#stripe-bg {
  position: fixed;
  height: 100%;
  width: 200px;
  margin-left: 7%;
  background: linear-gradient(to right, #9B2226 20%, 
  #BB3E03 20%, #BB3E03 40%, 
  #EE9B00 40%, #EE9B00 60%, 
  #94D2BD 60%, #94D2BD 80%, #005F73 80%);
}

#timer {
  font-size: 50px;
  text-align: end;
}

#start {
    text-align: center;
    margin: 0;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
 
}


h1 {
  color: #EE9B00;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 100px;
  text-shadow: 2px 2px 1px #BB3E03;
  background-color: #9B2226;
}

.card {
  text-align: center;
}

li {
  font-size: large;
  list-style-type: none;
  margin-left: 200px;
  margin-right: 200px;
}

li:nth-child(odd){
  background-color: rgb(223, 187, 223);
}

li:nth-child(even){
  background-color: rgb(224, 209, 224);
}

button {
  background-color: purple;
  color: white;
  padding: 10px;
  margin: 25px;
}

